
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:  lightblue;
    color: #333;
}

h1 {
    background-color: #7a91e6;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin: 0;
}

h2 {
    color: blueviolet;
}

h3 {
    color: #555;
    font-style: italic;
}

p {
    margin: 10px 0;
}


img {
    display: block;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
